#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chat-box {
  width: 350px;
  height: 85vh;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
}

@media (max-width: 768px) {
  .chat-box {
    width: 100%;
  }
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollable::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgba(2,55,124,1) 16%, rgba(30,88,164,1) 80%, rgba(61,127,210,1) 100%);
  border-radius: 10px;
}

.typing-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.typing-dots span {
  width: 8px;
  height: 8px;
  background-color: #555; 
  border-radius: 50%;
  animation: blink 1.5s infinite ease-in-out;
}

.typing-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}